.HomePage{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 1280px){
    .HomePage{
        width: 100%;
    }
}
.divBody{
    width: 100%;
    text-align: center;
}
.baneriImg img{
    width: 100%;
}

.react-multi-carousel-list{
    border-radius: 20px;
}
.kategorije{
    width: 90%;
    margin: 0 auto;
}
.kategorijeP{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.izdvajamoP{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.baneri{
    width: 90%;
    margin: 0 auto;
}
.banerImg{
    width: 100%;
}
.izdvajamo{
    width: 90%;
    margin: 0 auto;
}
.carousel{
    border-radius: 30px;
}