.HomePage{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 1280px){
    .HomePage{
        width: 100%;
    }
}
.divBody{
    width: 100%;
    text-align: center;
}
.baneriImg img{
    width: 100%;
}
.imageCategory{
    width: 60%;
}

.react-multi-carousel-list{
    border-radius: 20px;
}
.kategorije{
    width: 90%;
    margin: 0 auto;
}
.kategorijeP{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.kategorijeP p{
    font-weight: 600;
    color: rgb(0, 0, 70);
}
.izdvajamoP{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.listIcon{
    margin-right: 8px;
}
.izdvajamoP p{
    font-weight: 600;
    color: rgb(0, 0, 70);
}
.baneri{
    width: 90%;
    margin: 0 auto;
}
.banerImg{
    width: 100%;
}
.carousel-inner{
    border-radius: 30px;
}
.izdvajamo{
    width: 90%;
    margin: 0 auto;
}
.carousel{
    border-radius: 30px;
}
@media(min-width: 664px){
    .imageCategory{
        width: 60%;
    }
}