.cenaArtikla{
    font-size: medium;
    font-weight: 600;
    color: #040272;
}
.bodyCard{
    background-color: #f0eeee;
    border-bottom: 100px;
}
.nazivArtikla{
    color: #040272;
    height: 50px;
    text-align: center;
}
.plus{
    padding-left: 8px;
    padding-right: 8px;
}
.minus{
    padding-left: 10px;
    padding-right: 10px;
}
.plus, 
.minus{
    border: none;
    background-color: #fff;
}
.kupi button{
    border: none;
    background-color: green;
    color: #fff;
}
.kupi button:hover{
    background-color: rgb(0, 170, 0);
}
.kartica{
    width: 90%;
}
.articleDisabled{
    color: red;
    font-size: medium;

}
.kartica:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.48);
}

.spanLogin{
    color: green;
}
.spanLogin:hover{
    cursor: pointer;
    
}