h2{
    color: #040272;
    font-weight: 600;
}
.img img{
    width: 75%;
}
.buttonKupi{
    border-radius: 20px;
    width: 76%;
}
.cenaDiv{
    font-size: xx-large;
    font-weight: 500;
    color: #040272;
}
.wrapper{
    background-color: #eaeded;
    justify-content: center;
}
.kolona{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.kolicina{
    width: 50%;
}
.kupiBtn{
    width: 75%;
}
.articleName{
    display: none;
}
.wrapperFeature{
    background-color: rgb(0, 166, 0);
}
.buttons button{
    border: none;
    background-color: rgb(0, 166, 0);
    padding: 15px;
    color: #fff;
}
.buttons button:hover{
    background-color: rgb(0, 144, 0);
    color: #fff;
}
.buttons button:active{
    background-color: rgb(0, 166, 0);
}
.titleFeature{
    color: #040272;
}
.slicniProizvodi{
    color: #040272;
}
.status{
    font-size: larger;
    color: rgb(0, 166, 0);
}
.btnLeftRight {
    background-color: #fff;
    border: 0;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.smallImg{
    cursor: pointer;
}
.subPhoto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subPhoto .col {
    flex: 1 1 100px; /* Osigurava da kockice budu najmanje 100px, ali mogu se širiti */
    max-width: 150px; /* Ograničava maksimalnu širinu kockica */
}
.subPhoto .col img:hover{
    cursor: pointer;
}
.visible{
    color: red;
}
.subPhoto img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Osigurava da slika popuni kockicu bez zadržavanja proporcija */
    border-radius: 5px; /* Doda malo zaobljenja uglova */
    border: 1px solid #ddd; /* Tanki border oko slika */
}
.btnLeftRight:focus {
    color: #fff !important;
    background-color: #fff !important;
    border: none !important;
}
.btnLeftRight:hover{
    color: #fff;
    background-color: #fff;
    border: none;
}
/* .btnLeftRight{
    background-color: #fff;
}

.btnLeftRight:focus{
    color: #fff !important;
    background-color: #fff !important;
    border: none !important;
} */
.icn{
    color: black;
}
.spiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:567px) {
    .wrapper{
        flex-direction: row;
    }
    .articleNameMobile{
        display: none;
    }
    .kolicina{
        width: 80%;
    }
    .kupiBtn{
        width: 100%;
    }
}