.osobine{
    margin-right: 3px;
}
.kategorijeIcon{
    margin-right: 3px;
}
.linkToPhoto{
    margin-right: 3px;
}
.btnFilter{
    margin-left: 10px;
}
.formGroupFilter{
    margin: 10px 10px;
}
.labelFilter{
    margin-left: 10px;
}