.userProfile{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(147, 147, 147);
    padding: 20px;
    margin-top: 10px;
    display: flex;
}
.buttonProfil{
    padding: 3px 20px 3px 20px;
    border: 1px solid rgb(147, 147, 147);
    margin-bottom: 20px;
}
.buttonProfil:hover{
    color: #fff;
    background-color: rgb(0, 167, 0);
}
.buttonProfil:active{
    color: black;
    background-color: #fff;
}
.odjaviMe{
    padding: 5px;
    border: 1px solid rgb(147, 147, 147);
}
.odjaviMe:hover{
    color: #fff;
    background-color: rgb(0, 167, 0);
}
.icon{
    padding-right: 8px;
}

.btnMojePorudzbine{
    margin-right: 5px;
}
.linkMojePorudzbine{
    border: 1px solid #a0a0a0;
    padding: 5px;
}
.linkMojePorudzbine:hover{
    background-color: rgb(0, 167, 0);
    color: #fff;
}
@media (min-width: 300px) and (max-width:1200px){
    .userProfile{
        width: 90%;
    }
}